In [1]:
%load_ext autoreload
%autoreload 2

import os
import pandas as pd
from pathlib import Path
from tqdm.notebook import tqdm

In [2]:
YOGA_DS_DIR = Path("data/yoga_dataset")
YOGA_POSES_DIR = YOGA_DS_DIR /"content"

In [3]:
from PIL import Image

df_rows = []
for pose_name in tqdm(os.listdir(YOGA_POSES_DIR)):
    pose_dirpath = YOGA_POSES_DIR / pose_name
    for img_name in os.listdir(pose_dirpath):
        img = Image.open(pose_dirpath / img_name)
        df_rows.append({
            "pose": pose_name,
            "filename": img_name,
            "format": img.format,
            "width": img.width,
            "height": img.height
        })

  0%|          | 0/107 [00:00<?, ?it/s]

In [4]:
df = pd.DataFrame.from_dict(df_rows, orient="columns")
df.head()

           pose  filename format  width  height
0  hanumanasana   3-0.png    PNG    440     299
1  hanumanasana  21-0.png    PNG    466     453
2  hanumanasana  45-0.png    PNG    397     228
3  hanumanasana  67-0.png    PNG    493     402
4  hanumanasana  25-0.png    PNG    518     336

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5994 entries, 0 to 5993
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   pose      5994 non-null   object
 1   filename  5994 non-null   object
 2   format    5994 non-null   object
 3   width     5994 non-null   int64
 4   height    5994 non-null   int64
dtypes: int64(2), object(3)
memory usage: 234.3+ KB

In [6]:
df.describe()

             width       height
count  5994.000000  5994.000000
mean    429.707708   361.710878
std     237.293535   204.589043
min      16.000000    26.000000
25%     269.000000   233.250000
50%     393.000000   324.000000
75%     553.000000   446.000000
max    3949.000000  4262.000000

In [7]:
df.pose.value_counts()

ardha matsyendrasana    90
chaturanga dandasana    90
bitilasana              87
ustrasana               87
garudasana              78
                        ..
ashtanga namaskara      34
marichyasana iii        33
agnistambhasana         33
tulasana                31
padangusthasana         18
Name: pose, Length: 107, dtype: int64

In [8]:
df.format.value_counts()

array(['PNG', 'JPEG', 'GIF'], dtype=object)

In [9]:
df.to_csv(YOGA_DS_DIR / "metadata.csv", index=False)